@media screen and (max-width: 1799px) {}

@media screen and (max-width: 1599px) {}

@media screen and (max-width: 1408px){}

@media screen and (max-width: 1216px) {
    .theme_padding {
        padding-left: 80px;
        padding-right: 80px;
    }
    .hire_title h1 {
        font-size: 62px;
    }

    .hire_text p {
        font-size: 20px;
    }

    .hire_section {
        width: 100%;
        height: 450px;
    }

    .contect_section {
        width: 100%;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .contact_heading h1 {
        font-size: 40px;
    }

    .contact_paragraph p {
        font-size: 18px;
    }

    .social_network {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .social_title h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .github img, .linkedin img, .instagram img {
        height: 50px;
        width: 50px;
    }

    .footer_logo img {
        height: 130px;
        width: 150px;
    }

    .footer_nav li {
        font-size: 18px;
        margin-bottom: 20px;
    }

    footer {
        padding: 30px 60px;
       
    }
}

@media screen and (max-width: 1180px){
    .hire_section {
        width: 100%;
        height: 420px;
    }

    .hire_title h1 {
        font-size: 58px;
    }

    .contact_paragraph p {
        font-size: 16px;
    }

    .contact_title h2 {
        font-size: 20px;
        margin-bottom: 6px;
    }

    .form_massage textarea {
        height: 110px;
    }

    .location_head h1 {
        font-size: 38px;
    }

    .location_list h3 {
        font-size: 18px;
    }

    .social_title h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .theme_padding {
        padding-left: 60px;
        padding-right: 60px;
    }
    .hire_title h1 {
        font-size: 52px;
    }

    .hire_section {
        width: 100%;
        height: 400px;
    }

    .contect_section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .contact_heading h1 {
        font-size: 34px;
    }

    .github img, .linkedin img, .instagram img {
        height: 40px;
        width: 40px;
    }

    .social_title h1 {
        font-size: 34px;
        margin-bottom: 24px;
    }

    .nav_list{
        visibility: hidden;
    }

    .mobile-nav{
        visibility: visible;
    }

    .footer_nav_list ul{
        display: flex !important;
        gap: 30px;
        
    }
}

@media screen and (max-width: 990px) {
    .hire_title h1 {
        font-size: 48px;
    }

    .hire_text p {
        font-size: 18px;
    }

    .social_network {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .social_title h1 {
        font-size: 32px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 880px){
    .contact_title h2 {
        font-size: 18px;
    }

    .contact_heading h1 {
        font-size: 28px;
    }

    .location_part {
        display: flex;
        flex-direction: column;
    }

    .map_part {
        width: 100%;
        height: 100%;
        /* background-color: aqua; */
    }

    .location_section {
        width: 100%;
        height: 840px;
        background-color: #A8E890;
    }

    .map_detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
        padding: 50px;
        margin: auto;
    }

    .location_address h3 {
        text-align: center;
    }

    .form_input input {
        border-radius: 5px;
    }

    .form_massage textarea {
        border-radius: 5px;
        padding: 10px;
    }
    .form_btn button {
        border-radius: 5px;
    }

    .social_title h1 {
        font-size: 30px;
        margin-bottom: 24px;
    }

    .github img, .linkedin img, .instagram img {
        height: 35px;
        width: 35px;
    }
}

@media screen and (max-width: 768px){
    .form_btn button {
        border-radius: 5px;
    }

    .map_detail {
        padding: 15px;
    }

    .location_section {
        height: 820px;
    }

    footer {
        padding: 20px 30px;
    }

    .footer_nav_list a{
        font-size: 14px;
    }

    .footer_copyright p{
        font-size: 12px;
    }

    .bar {
        height: 4px;
    }
}


@media screen and (max-width: 650px) {
    
    .hire_title h1 {
        font-size: 40px;
    }

    .hire_text p {
        font-size: 16px;
    }

    .hire_section {
        height: 360px;
    }

    .contect_section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .get_in_touch_part {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .cotact_form {
        border-radius: 10px;
    }

    .location_list {
        margin-left: 27px;
    }

    .social_title h1 {
        font-size: 26px;
        margin-bottom: 16px;
    }

    .github img, .linkedin img, .instagram img {
        height: 30px;
        width: 30px;
    }

    .footer_logo img {
        height: 100px;
        width: 120px;
    }
}


@media screen and (max-width: 575px) {
    .theme_padding {
        padding-left: 30px;
        padding-right: 30px;
    }

    .nav{
        padding: 5px;
    }

    .hire_title h1 {
        font-size: 38px;
    }

    .contact_heading h1 {
        font-size: 26px;
    }

    .location_head h1 {
        font-size: 32px;
    }

    .location_address h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .location_list h3 {
        font-size: 16px;
    }

    .location_section {
        height: 790px;
    }

    .social_network {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer_nav_list a {
        font-size: 12px;
    }

    .location_head h1 {
        margin-bottom: 5px;
    }

    .footer_logo img {
        height: 80px;
        width: 100px;
    }
}


@media screen and (max-width: 480px) {

    .theme_padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav_list {
        visibility: hidden;
        display: none;
    }

    .logo img {
        height: 58px;
        width: 75px;
    }

    .hire_section {
        height: 380px;
    }

    .location_section {
        height: 780px;
    }

    .location_head h1 {
        font-size: 26px;
    }

    .social_title h1 {
        font-size: 24px;
        margin-bottom: 14px;
    }
    .social_media_icon {
        gap: 30px;
    }

    .github img, .linkedin img, .instagram img {
        height: 30px;
        width: 30px;
    }

    .contect_section {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .contact_title h2 {
        font-size: 16px;
    }

    .form_input input {
        height: 35px;
    }

    .hire_title h1 {
        font-size: 36px;
    }
}


@media screen and (max-width: 420px){

    .hire_title h1 {
        font-size: 32px;
    }

    .contact_paragraph p {
        font-size: 14px;
    }

    .location_head h1 {
        font-size: 22px;
    }

    .location_address h3 {
        width: 200px;
    }

    .location_section {
        height: 730px;
    }

    .social_title h1 {
        font-size: 22px;
        margin-bottom: 14px;
    }

    .footer_nav_list ul {
        display: flex !important;
        gap: 0px;
        flex-direction: column;
    }

    .footer_nav li {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer_nav_list a {
        font-size: 14px;
    }

    .footer_copyright p {
        font-size: 14px;
    }

}


@media screen and (max-width: 380px) {

    .map_part iframe {
        width: 100%;
        height: 360px;
    }
    .cotact_form {
        padding: 15px;
    }

    .form_input input {
        margin-top: 5px;
    }

    .form_massage textarea {
        margin-top: 5px;
    }

    .location_section {
        height: 655px;
    }

    .footer_copyright p {
        font-size: 13px;
        text-align: center;
    }
}

@media screen and (max-width: 360px) {

    .mobile_nav_list {
        padding-top: 100px;
        padding-left: 35px;
    }
    .hire_text p {
        width: 230px;
    }

    .mobile_navbar_lists a {
        color: #000000;
        font-family: 'Alatsi';
        font-size: 20px;
    }

    .location_head h1 {
        font-size: 21px;
        width: 200px;
        text-align: center;
    }

    .map_part iframe {
        width: 100%;
        height: 360px;
    }
    

}




